.large-image {
  width: 100%;
  max-width: 800px;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin: auto;
}

.large-image-container {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .large-image {
    max-width: 600px;
  }
}
