.searchbar button {
  padding: 0.6rem 1.2rem;
  background-color: rgb(26, 65, 49);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 1rem;
}

.searchbar input {
  width: 250px;
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-right: 1rem;
}
