.thumbnails {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 0.5rem;
}

.thumbnails img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}
