.navbar a {
  padding: 0.6rem 1.2rem;
  background-color: peru;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
  text-decoration: none;
  background-color: #a63805;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  background-color: wheat;
  opacity: 0.8;
  border: solid peru 3px;
  border-radius: 1vw;
  margin: 10px;
  padding: 0.4rem 0.8rem;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #333;
  opacity: 0.8;
  margin: 0;
}

.logo {
  position: relative;
  max-width: 50px;
  background-color: peru;
  border: solid 1px peru;
  border-radius: 90px;
  opacity: 0.85;
  margin-top: 10px;
  max-height: 45px;
  padding: 0.2rem;
}

.buttons button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: peru;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  text-decoration: none;
  background-color: #a63805;
}

body {
  font-family: Arial, sans-serif;
  background-color: #4d4747;
  color: #333;
  line-height: 1.6;
  padding: 5px;
  border: 0.3vw solid wheat;
  border-radius: none;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 800px) {
  body {
    padding: 10px;
  }
}
