#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar a {
  padding: 0.6rem 1.2rem;
  background-color: rgb(26, 65, 49);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.navbar a:hover {
  text-decoration: none;
  background-color: rgb(155, 184, 174);
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

header {
  text-align: center;
  padding: 1rem 0.5rem;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(66, 102, 90);
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
}

.buttons button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: rgb(26, 65, 49);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

button:hover {
  text-decoration: none;
  background-color: rgb(8, 15, 13);
}

body {
  background-color: rgb(66, 102, 90);
}
